* {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.container {
  
  width: 1158px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 1px solid red; */
}

:root {
  --color-hover-focus: #4d5ae5;
  --background-btn: #4d5ae5;
  --color-text: #2e2f42;
  --font-primary: "Roboto";
  --font-secondary: "Raleway";
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--font-primary);
  color: var(--color-text);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/* Top */

.header-logo-web {
  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-hover-focus);
}
.header-logo-studio {
  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--color-text);
  padding-right: 77px;
}
.header-logo-st {
  font-family: var(--font-secondary);
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.header-navigation {
  color: var(--color-text);
}

.header-navigation:hover,
.header-navigation:focus {
  color: var(--color-hover-focus);
}

.shadow-header {
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 0px 1px;
}

.primary-nav {
  display: flex;
  align-items: center;
  margin-right: auto;
  padding: 0;
}

.nav-items {
  display: flex;
  align-items: center;
  gap: 40px;

  padding-top: 24px;
  margin-bottom: 24px;
  margin-left: auto;
}

.contact-link {
  color: #434455;
}

.contact-link:hover,
.contact-link:focus {
  color: var(--color-hover-focus);
}

/* Main Page */
.title {
  font-size: 56px;
  line-height: 1.07;
  color: #ffffff;
  text-align: center;
}
.section-background {
  background: #2e2f42;
  width: 1440px;
  height: 603px;
  left: 0px;
  top: 72px;
  margin: auto;
}

.indent-title {
  max-width: 492px;
  margin: 0 auto;
  padding-top: 188px;
  margin-bottom: 48px;
  max-width: 496px;
}
.header-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  flex-direction: row;
  align-items: flex-start;
  padding: 16px 32px;
  gap: 10px;
  align-items: center;
  letter-spacing: 0.04em;
  color: #ffffff;
  background: var(--background-btn);
  cursor: pointer;
  font-family: inherit;
  border: none;
  width: 170px;
  height: 51px;
  left: 635px;
  top: 432px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: block;
  flex-direction: row;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  text-transform: none;
}
.header-btn:hover,
.header-btn:focus {
  background: #404bbf;
}
.btn-container{
  display: flex;
}

.soft-skills {
  font-size: 20px;
  line-height: 1.2;
}

.about-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 120px;
  margin-bottom: 120px;
}

.about-list-team{display: flex;
  gap: 24px;
  justify-content: center;
  margin-top: 72px;
  margin-bottom: 120px;

}

.text {
  letter-spacing: 0.02em;
  color: #434455;
  max-width: 264px;
order: 1;
flex-grow: 0;
margin-top: 8px;
}

.indent-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 264px;

}

.subtitle-one {
  font-size: 36px;
  line-height: 1.11;
  margin: 0 auto;
  display: block;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.subtitle {
  box-sizing: border-box;
  display: block;
  font-size: 36px;
  line-height: 1.11;
  margin: 0 auto;
  max-width: 162px;
  min-width: 162px;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
 padding-top: 120px;
}

.images {
  background: #ffffff;
}

.images-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: calc((100% - 48px) / 3);
  border: 1px solid #e7e9fc;
}

.img-item {
  width: calc((100% - 48px) / 4);
}

.team-text {
  background: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  gap: 32px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 152px;
}

.background {
  background: #f4f4fd;
  padding: 0;
height: 732px;
top: 1551px;
}

/* List ul, ol */
.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

/* Portfolio */

.header-button {
  margin-right: 24px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  color: var(--color-hover-focus);
  background: #f4f4fd;
  cursor: pointer;
  font-family: inherit;
  border: none;
  box-sizing: border-box;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 12px 24px;
  margin-bottom: 72px;
}

.header-button:hover,
.header-button:focus {
  color: #ffffff;
  background: var(--background-btn);
}
.section-button {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: center;
  align-items: center;
  text-align: center;

  margin-top: 96px;
}
.item {
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
}
.section-item {
  text-align: center;
  color: #434455;
}

.list-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px 16px;
  gap: 8px;
}

.images-portfolio-list {
  display: flex;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.indent-one {
  width: calc((100% - 48px) / 3 );
}
.bottom-distance{
  margin-bottom: 120px;
}

.footer {
  color: #e7e9fc;
}
.footer-background {
  background-color: #2e2f42;
  padding-bottom: 100px;
}

.footer-logo {
  margin: 0;
  margin-left: 156px;
}

.footer-content {
  margin: 0;
  padding-top: 138px;
  max-width: 264px;
  margin-left: -115px;
}
